* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    display: flex;
    background: #060AB2;
  }

  .game {
    width: 1140px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  .memory-game {
    width: calc(15% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }
  
  .memory-game:active{
    transform: scale(0.97);
    transition: transform .2s;
  }
  .memory-game.flip {
    transform: rotateY(180deg);
  }

  .font,
  .back {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }

  .font {
    transform: rotateY(180deg);
  }